h1{
    color: crimson;
    text-align: center;
}
.center {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: white;
    text-align: justify;
}
.nav-bar{
    justify-content: end;
}
img{
    height: 200px;
    width: 300px;
}
p, h3, li{
    margin-left: 10px;
    margin-right: 10px;
    color: black
}
.input-container {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

input {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}
.footer{
    width: 100%;
    text-align: center;
    color: black;
    clear:both;
}

header {
    background-color: #FFD700;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.recipe {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.certificazioni{
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.certificazioni h2 {
    margin-top: 0;
}

.certificazioni p {
    margin-bottom: 0;
}
#map {
    width: 100%;
<<<<<<< HEAD
    height: 600px;
=======
    height: 400px; /* Adjust height as needed */
>>>>>>> 12e41ae0ea2cd0038d467f21a62881d5ee95f4e0
}